*{
  margin: 0;
  padding: 0;
  /*   box-sizing: border-box; */
  /*   font-family: "Roboto", sans-serif;  */
}
  
body{
  background: #fff;
}
.navbar{
  
  background: #2F323A;
  
  
}

.textfarbe{
  color: white
}
.textfarbe:hover{
  color: #4CCEE8;
}

.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo{
  margin-left: 50px;
  height: 50px;
}
.title{
  color: #fff;
  font-size: 25px;
  
  font-weight: 700;
  margin-left: 120px;
}

.title span{
  color: #4CCEE8;
}
.title a{
  color: #fff;
}
.title a:hover{
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  
}
.suchfeld input[type=text] {
  border: 1px solid #ccc;  
}
.suchfeld:hover{
  border: 1px solid white;
}

.sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 220px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.sidebar-btn:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
  background: #4CCEE8;
  color: #fff;
}

.wrapper .sidebar{
  z-index: 2;
  background: #2F323A;
  position: fixed;
  top: 60px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.profile img{
  margin: 20px 0;
  width: 100px;
  height: 50px;
}
.profile img:hover{
  margin: 18px 0;
  width: 105px;
  height: 55px;
  transition: 0.3s;
}

.profile p{
  color: #bbb;
  font-weight: 700;
  width: 205px;
  height: 25px;
  transition: 0.3s;
  
}

.wrapper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 10px 20px; 
  transition: 0.3s;
  transition-property: color;
  
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #18f548;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}
/*
.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}
*/
.wrapper .sidebar .sidebar-menu .item .sub-menu{
  background: #3498DB;
  overflow: hidden;
  max-height: 0;
  transition: 0.8s;
  transition-property: background, max-height;
}

.hintergrund{
  background: #1033f7;
  overflow: hidden;
  display: inline;
  
}
.hintergrund2{
  background: #55B1F0;
  overflow: hidden;
  
}
.hintergrund_dd{
 
  background: #1372b1;
  
}
.hintergrund_dd li{
  display: block;
  border-bottom: 1px solid #f5c906;
}
.nav-item{
  color: #f51835;
}
.nav-item a{
  color: #f55e18;
}
.nav-item li{
  color: #18f548;
}

.navbar-nav{
  
  color: white;
}
.navbar-nav ul{
  background: #2F323A;
  color: #18f548;
  
}
.navbar-nav ul li{
  display: block;
  border-bottom: 1px solid white;
  margin: 0px;
  color: #18f548;
  
}

.dropdown-menu{
  
  color: #18f548;
  
}
.dropdown-menu a{
  
  color: white;
  
}
.dropdown-menu a:hover{
  background: #55B1F0;
}
.dropdown-header{
  color: white;
}
.subsub{
  background: #1372b1;
  overflow: hidden;
}

.subsub a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  text-decoration: none;
  padding: 3px;
  transition: 0.3s;
  transition-property: background;
}
.subsub a:hover{
  background: #55B1F0;
}
.subsub a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}
.dropdownicon{
  padding-left: 20px;
  padding-bottom: 20px;
  color: #55B1F0;
}


.wrapper .sidebar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 7px;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
  background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 15px;
  background: rgb(241, 238, 238);
  background-size: cover;
  height: 100%;
  transition: 0.3s;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding-left: 3px;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.active3{
  margin-left:-250px;
}
.active2{
  margin-left:0px;
}
.update{
  width: 300px;
  
}
.fehler{
  padding-right: 50px;

}


.button{
  color:rgb(59, 161, 245);
  font-size: 15px;
  font-weight: 700;
  
}

.button:hover{
  color: #4CCEE8;
  font-size: 16px;
  font-weight: 800;
  text-underline-offset: 5px;
}

.lead {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}

.green {
    background-color:#5cb85c;
}
.red {
    background-color: #d9534f;
}
.blue {
    background-color: #337ab7;
}
.yellow {
    background-color: #f0ad4e;
}

.greenfont {
    color:#5cb85c;
}
.redfont {
    color: #d9534f;
}
.bluefont {
    color: #337ab7;
}
.yellowfont {
    color: #f0ad4e;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.gz16{
  font-size: 16px;
  color: black;
}
.gz18{
  font-size: 18px;
  color: black;
}
.gz20{
  font-size: 20px;
  color: black;
}
.gz22{
  font-size: 22px;
  color: black;
}
.gz24{
  font-size: 24px;
  color: black;
}
.badge14{
  font-size: 14px;
}
.badge16{
  font-size: 16px;
}
.anchor {
  
  padding-top:80px;
  
}
.fw{
  color: white;
  cursor: pointer;
  margin-left: 20px;

}
.fw:hover{
  color: #4CCEE8;
}
.whitefont{
  color: white;
}

.headermenurechts{
  padding-right: 60px;
  width: 150px;
  color: rgb(238, 16, 16);
  
}
.headermenurechts a:hover{
  color: #5cb85c;
  background-color: #f0ad4e;
}
.af{
  color: #bbb;
  
}
.af li{
  list-style: none;
  
}
.af i:hover{
  color: #f0d911;
}
.abstand{
  margin-top: 400px;
}
.abstand100{
  margin-top: 100px;
}
.bs-callout {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-left-width: 8px;
  border-radius: 9px;
  background-color: rgba(173, 168, 168, 0.247);
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.blau-links{
  border-left-width: 8px;
  border-radius: 9px;
  border-left-color: #5bc0de;
}
.rot-links{
  border-left-width: 8px;
  border-radius: 9px;
  border-left-color: #f30909;
}
.rot-links-rechts{
  border-left-width: 8px;
  border-right-width: 8px;
  border-radius: 9px;
  border-left-color: #f30909;
  border-right-color: #f30909;
}
.thumbnail.with-caption {
  
  display: inline-block;
  background: #dfdede;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: left;
  display: inline-block;
  color: #999;
}
.liststyle-none{
  list-style: none;
}
.wrapper li{
  margin-left: 30px;
}
.wrapper ul{
  margin-left: 20px;
}
.sidebar li{
  margin-left: 0px;
}
.sidebar ul{
  margin-left: 0px;
}
.bildnover {
  display: block;
  width: 300px;
}
.bildnover:hover{
  width: 100px;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  
  
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
  margin-left: 300px;
}
.kbd-border-warning{
  border-radius: 2px;
  border: 2px solid #f0ad4e;
  padding: 4px;
  background: transparent;
  color: #f0ad4e;
  
}
.dd_ausgleich{
  margin-bottom: 32px;
}
.nnav{
  margin-left: 400px;
}
.modal-body{
  color: red;
  font-size: 22px;
}
.modal-title{
  margin-left: 100px;
}